In [ ]:
#Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
SELECT * FROM Workers WHERE hire_data between '2014-02-01' and '2014-02-28'

In [ ]:
#Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

In [ ]:
select First_Name, current_location , count(*) from Worker group by First_name  , current_location having count(*) > 1

In [ ]:
#Q-3. How to remove duplicate rows from Employees table.

In [ ]:
delete from emp where id not in (select * from (select max(id) as max_id from emp group by fullname) as t );