In [ ]:
#Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [ ]:
select * from 
(
select *, rank() over (order by salary desc) r from department
) as t where t.r = 5

In [ ]:
#Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT s1.name , s2.name, s1.salary, s2.salary  from Worker s1 inner join Worker s2 on s1.salary = s2.salary and s1.name <> s2.name