In [ ]:
#Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

In [ ]:
SELECT RTRIM(FIRST_NAME) FROM WORKER

In [ ]:
#Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

In [ ]:
SELECT DISTINCT DEPARTMENT, length(DEPARTMENT) as LENGTH from Worker

In [ ]:
#Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:

SELECT * FROM (SELECT name, salary,rank() over (order by salary desc) r from Worker) as var where r = 1