In [ ]:
#Q-17. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
SELECT * FROM Worker order by salary limit 10;

In [ ]:
#Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select * from (select First_Name, Salary , rank() over (order by Salary desc) r from Worker ) as t where t.r = 5;