In [ ]:
#Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
select * from (select id, fullname,row_number() over (order by id desc) as number_row from emp) as t where t.number_row%2=1;

In [ ]:
#Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
create table emp_2 select * from emp;