In [ ]:
#Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [ ]:
SELECT left(FIRST_NAME,3) from Worker

In [ ]:
#Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [ ]:
SELECT position('a' IN  FIRST_NAME) from  WORKER where FIRST_NAME = 'Amitabh'

In [ ]:
#Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [ ]:
SELECT FIRST_NAME,max(SALARY) as MAX_SALARY from Worker group by DEPARTMENT;